1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [16]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [18]:
import keras

In [19]:
from keras.models import Sequential
from keras.layers import Dense

In [20]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

**Train and** **Test**

In [23]:
# build the model
model = regression_model()

In [24]:
# build the model
model = regression_model()

In [25]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1594.0734 - 987ms/epoch - 43ms/step
Epoch 2/50
23/23 - 0s - loss: 1577.3647 - 60ms/epoch - 3ms/step
Epoch 3/50
23/23 - 0s - loss: 1560.2430 - 45ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1543.2740 - 61ms/epoch - 3ms/step
Epoch 5/50
23/23 - 0s - loss: 1525.9426 - 49ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1508.2365 - 76ms/epoch - 3ms/step
Epoch 7/50
23/23 - 0s - loss: 1490.0970 - 57ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 1470.9847 - 51ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 1450.7273 - 52ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 1429.4341 - 58ms/epoch - 3ms/step
Epoch 11/50
23/23 - 0s - loss: 1406.8141 - 47ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 1383.0758 - 50ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1357.5784 - 109ms/epoch - 5ms/step
Epoch 14/50
23/23 - 0s - loss: 1331.4211 - 127ms/epoch - 6ms/step
Epoch 15/50
23/23 - 0s - loss: 1303.6292 - 130ms/epoch - 6ms/step
Epoch 16/50
23/23 - 0s - loss: 1274.6862 - 165ms/epoch - 7ms/step
Epoch 17/50
23/23 - 0s - loss: 1244.5012 - 124ms/epoch - 5ms/step
Epoch 18/50
23/23 - 0s - loss: 1213.9299 - 136ms/epoch - 6ms/step
Epoch 19/50
23/23 - 0s - loss: 1182.3253 - 102ms/epoch - 4ms/step
Epoch 20/50
23/23 - 0s - loss: 1150.3196 - 76ms/epoch - 3ms/step
Epoch 21/50
23/23 - 0s - loss: 1116.8424 - 76ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 1083.9220 - 47ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 1050.3213 - 69ms/epoch - 3ms/step
Epoch 24/50
23/23 - 0s - loss: 1016.5144 - 44ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 982.9123 - 52ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 949.0179 - 34ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 915.9053 - 44ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 881.8168 - 40ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 849.1349 - 35ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 816.6301 - 40ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 784.3571 - 40ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 752.8090 - 35ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 722.1665 - 38ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 692.1121 - 32ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 663.0502 - 31ms/epoch - 1ms/step
Epoch 36/50
23/23 - 0s - loss: 635.2623 - 35ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 608.5052 - 39ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 582.9586 - 40ms/epoch - 2ms/step
Epoch 39/50
23/23 - 0s - loss: 557.7547 - 38ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 534.1144 - 40ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 511.7213 - 34ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 489.9670 - 45ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 469.9258 - 35ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 450.3798 - 34ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 432.1221 - 34ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 415.0409 - 40ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 398.8551 - 31ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 383.6873 - 37ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 369.4805 - 34ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 356.2645 - 38ms/epoch - 2ms/step

In [26]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 4ms/step - loss: 340.2046

340.2045593261719

In [27]:
from sklearn.metrics import mean_squared_error

In [28]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

340.2045835952809 0.0

In [29]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 151.87074279785156
MSE 2: 133.1087188720703
MSE 3: 87.55148315429688
MSE 4: 68.36782836914062
MSE 5: 55.69873809814453
MSE 6: 56.390750885009766
MSE 7: 49.79621124267578
MSE 8: 35.617591857910156
MSE 9: 39.09309005737305
MSE 10: 37.690303802490234
MSE 11: 37.777591705322266
MSE 12: 34.470951080322266
MSE 13: 42.69506072998047
MSE 14: 43.5213737487793
MSE 15: 32.29854202270508
MSE 16: 29.81218147277832
MSE 17: 35.166839599609375
MSE 18: 32.66653060913086
MSE 19: 34.3502082824707
MSE 20: 32.61201858520508
MSE 21: 30.83088493347168
MSE 22: 33.107872009277344
MSE 23: 29.94086265563965
MSE 24: 30.592479705810547
MSE 25: 35.60582733154297
MSE 26: 32.40755844116211
MSE 27: 30.736957550048828
MSE 28: 28.423452377319336
MSE 29: 35.76568603515625
MSE 30: 31.535585403442383
MSE 31: 29.013099670410156
MSE 32: 26.527400970458984
MSE 33: 27.39259147644043
MSE 34: 31.89360809326172
MSE 35: 30.5156307220459
MSE 36: 37.35778045654297
MSE 37: 28.215238571166992
MSE 38: 33.63161849975586
MSE 39: 30.477598190307617
MSE 40: 26.475156784057617
MSE 41: 34.28407669067383
MSE 42: 27.076324462890625
MSE 43: 29.808767318725586
MSE 44: 35.97321701049805
MSE 45: 33.62308883666992
MSE 46: 31.415433883666992
MSE 47: 29.677873611450195
MSE 48: 31.79246711730957
MSE 49: 31.642900466918945
MSE 50: 30.96261978149414


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 40.14520758476548
Standard Deviation: 23.58452401427447